*{
	margin: 0;
	padding: 0;
}
.di a{
	text-decoration: none;
	color:white;
}
.di a:hover{
	color:#DC143C;
}
.index{
	width:1024px;
	margin:auto;
}
.bao{
	width:100%;
	height: 80px;
}
.daixao{
	width:1024px;
	height:80px;
	background: #000000;
	position: fixed;
	z-index: 10;
}
.daixao ul{
	width:65%;
	height:50px;
	float: right;
	margin-top:20px;
	
}
.daixao ul li{
	margin-left: 50px;
	float: left;
	list-style: none;
	line-height: 50px;
	text-align: center;
	color: white;
}
.daixao ul li a{
	color: white;
	text-decoration: none;
}
.daixao ul li:hover{
	border-bottom: 1px solid white;
}
.top{
	width: 100%;
	height: 400px;
	background-image: url('../img/fuwu/why_02.png');
}
.top h1:nth-child(1){
	line-height: 200px;
}
.top h1:nth-child(2){
	margin-top: -100px;
}
.top h1{
	line-height: 100px;
	color:white;
	text-align: center;
	font-size: 25px;
}
.top p{
	width: 60%;
	color:white;
	text-align: center;
	margin: auto;
}
.gai{
	width: 100%;
	height: 280px;
	background:#ccc;
	padding-top: 2.5%;
	box-sizing: border-box;
}
.gai_zhong{
	width:80%;
	height:80%;
	margin: auto;
}
.gai_top{
	width:100%;
	height: 50%;
}
.gai_left{
	width:50%;
	height: 100%;
	float: left;
}
.gai_left img{
	float: left;
	margin-top:3px;
}
.you1{
	width:70%;
	height: 100%;
	float: left;
	margin-left: 30px;
	font-size: 16px;
	text-align: left;
}
.you1 p:nth-child(1){
	color:#DC143C;
	font-weight: 600;
	font-size: 18px;
}
.you1 p:nth-child(2){
	margin-top: 10px;
}
.wei{
	width: 100%;
	height: 900px;
	background:white;
}
.wei h1{
	line-height: 100px;
	text-align: center;
	font-size: 25px;
}
.wei_zhong{
	width:100%;
	height:85%;
	margin: auto;
}
.wei_top{
	width:100%;
	height: 16%;
	margin-top: 3%;
}
.wei_top:nth-child(1){
	margin-top: 0;
}
.wei_left{
	width:49%;
	height: 100%;
	float: left;
	margin-left:2%;
}
.wei_left:nth-child(1){
	margin-left: 0;
}
.wei_left img{
	height:100%;
	float: left;
}
.you{
	width: 60%;
	float: left;
	margin-left: 20px;
}
.you p:nth-child(1){
	font-weight: 600;
	font-size: 18px;
}
.you p:nth-child(2){
	margin-top: 20px;
	font-size: 14px;
}
.ni{
	width: 100%;
	height: 450px;
	background:#ccc;
}
.ni h1{
	text-align: center;
	line-height:70px;
	font-size: 25px;
}
.ni_zhong{
	width:80%;
	height:75%;
	margin: auto;
}
.ni_top{
	width:100%;
	height: 49%;
	margin-top:2%;
}
.ni_top:nth-child(1){
	margin-top: 0;
}
.tupian{
	width:32%;
	height:100%;
	margin-left: 2%;
	float: left;
	position: relative;
}
.tupian:nth-child(1){
	margin-left: 0;
}
.tupian img{
	width: 100%;
	height: 100%;
}
.tupian p{
	width:100%;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	margin:auto;
	bottom: 0;
	left:0;
	top:0;
	right: 0;
}
.shipin{
	width: 100%;
	height:240px;
	background:white;
}
.fen{
	width:100%;
	height: 80%;
	margin:50px auto;
}
.kai{
	width:24%;
	height:100%;
	margin-left: 1%;
	float: left;
}
.kai img{
	width: 100%;
}
.kai p:nth-child(2){
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
}
.kai p:nth-child(3){
	color: gray;
}
.kai:nth-child(1){
	margin-left: 0;
}
.lian{
	width: 100%;
	height:250px;
	background-image: url("../img/index/HOME_V23_02 - 副本.jpg");
	background-size: 100% 100%;
}
.lian2{
	width: 100%;
	height:300px;
	background:white;
}
.lian2_zhong{
	width:100%;
	height:100%;
	margin: auto;
}
.lian2_left{
	width:60%;
	height: 100%;
	float: left;
}
.zhai{
	width:40%;
}
.lian2_left>p:nth-child(1){
	margin-top:40px;
	color:#DC143C;
	font-size: 20px;
}
.lian2_left p:nth-child(2),
.lian2_left p:nth-child(3),
.lian2_left p:nth-child(4){
	margin-left: 30px;
	margin-top: 40px;
}
.fensan{
	width:30%;
	height: 100%;
	margin-left: 5%;
	float: left;
}
.fensan:nth-child(1){
	margin-left: 0;
}
.fensan>p{
	font-size: 20px;
	margin-top: 40px;
	padding-bottom:30px ;
}
.fensan li{
	list-style: none;
	color:gray;
	height:30px;
}
.di{
	width: 100%;
	height:250px;
	background:#666;
}
.zuidi{
	width:70%;
	margin-left:15%;
	height:90%;
}
.zuidi_top:nth-child(1){
	width:100%;
	height: 70%;
	box-sizing: border-box;
	border-bottom:1px solid white;
}
.zuidi_top:nth-child(2){
	width:100%;
	height: 30%;
	box-sizing: border-box;
}
.zuidi_left{
	width:15%;
	height:100%;
	line-height: 190px;
	text-align: left;
	float: left;
	color:white;
}
.zuidi_right{
	float: left;
	width:85%;
	height: 100%;
}
.zuidi_shang:nth-child(1){
	margin-top:50px
}
.zuidi_shang{
	width:100%;
	height:30%;
}
.zuidi_shang li{
	float: left;
	list-style: none;
	line-height: 40px;
	padding-left:10px;
	padding-right:10px;
	color:white;
}
.zuidi_shang li:nth-child(2),
.zuidi_shang li:nth-child(1){
	display: none;
}
.ab{
	text-align: center;
	line-height: 80px;
	color:white;
}
